body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container{
    height:80vh;
    width:90vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;
    box-shadow:10px 10px  dimgrey;
}
button{
    height:2rem;
    width:6rem;
    font-size: 1.2rem;
}
h1{
   text-align: center;
}
#height{
    height:1.5rem;
}
#weight{
    height:1.5rem;
}